---Html category--- 
<div class="d-editor-textarea-wrapper-info">
    {{textarea tabindex=tabindex value=category.custom_fields.categorqa class="d-editor-input" placeholder=placeholderTranslated}}
    
    {{popup-input-tip validation=validation}}
</div>
